h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 38px;
  line-height: 44px;
  font-weight: bold;
}

.navbar {
  position: relative;
  z-index: 700;
  height: 15vh;
  margin-top: 0px;
  margin-bottom: 20px;
  padding-bottom: 0px;
}

.navbar-2 {
  position: static;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  height: 15vh;
  background-color: transparent;
}

.body {
  display: block;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #d4fcf5;
  font-family: 'Kastelov axiforma', sans-serif;
  color: #46495f;
}

.nav-link {
  padding-bottom: 15px;
  font-family: 'Kastelov axiforma', sans-serif;
  color: #2e2d87;
  font-size: 17px;
  font-weight: 500;
  text-decoration: none;
}

.nav-link:hover {
  color: #f02961;
  text-decoration: none;
}

.nav-link:focus {
  color: #71e2c5;
  text-decoration: underline;
}

.nav-link:visited {
  color: #71e2c5;
  text-decoration: underline;
}

.nav-link.bt-normal {
  margin-left: 15px;
  padding: 16px 33px 8px;
  border-style: none;
  border-width: 2px;
  border-color: #939bb4;
  border-radius: 4px;
  background-color: #2e2d87;
  font-family: 'Kastelov axiforma', sans-serif;
  color: #fff;
}

.nav-link.bt-normal:hover {
  background-color: #f02961;
  color: #fff;
  text-decoration: none;
}

.nav-link.bt-normal:focus {
  background-color: #2e2d87;
}

.nav-link.bt-normal:visited {
  background-color: #71e2c5;
}

.brand {
  padding-top: 10px;
}

.brand.w--current {
  padding-top: 0px;
}

.nav-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.heading {
  margin-bottom: 20px;
  color: #3d51d7;
  font-size: 37px;
  line-height: 52px;
  font-weight: 900;
}

.heading.centered {
  color: #fff;
  text-align: center;
}

.s50 {
  display: block;
  height: 60px;
  margin-top: 20px;
  margin-bottom: 19px;
  padding-bottom: 5%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.description {
  padding-top: 12px;
  padding-right: 7px;
  padding-bottom: 12px;
  font-family: 'Kastelov axiforma', sans-serif;
  color: #2e2d87;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
}

.description.ff {
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  font-family: Montserrat, sans-serif;
  font-size: 12px;
  line-height: 22px;
  font-weight: 500;
}

.section {
  display: none;
  max-width: 80%;
  margin-right: auto;
  margin-left: auto;
  padding: 170px 0px;
  border-radius: 50px;
  background-color: #939bb4;
}

.download {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.dicon {
  padding-right: 19px;
  padding-left: 19px;
}

.footer {
  margin-top: 0px;
  padding-top: 50px;
  background-color: #fff;
  background-image: url('../images/ff.svg');
  background-position: 100% 100%;
  background-size: 680px;
  background-repeat: no-repeat;
}

.link {
  display: block;
  color: #46495f;
  text-decoration: none;
}

.link.flinks {
  height: 72px;
  padding-bottom: 7px;
  background-image: url('../images/2.png');
  background-position: 0% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.container-4 {
  display: block;
  margin-top: -5px;
  padding-top: 0px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.div-block-3 {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-areas: ". . Area";
  -ms-grid-columns: 0.75fr 16px 0.5fr 16px 1fr;
  grid-template-columns: 0.75fr 0.5fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  text-align: center;
}

.credits {
  display: block;
  margin-top: 19px;
  color: #939bb4;
  font-size: 12px;
  font-weight: 300;
}

.container-5 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 15vh;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.paragraph {
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 14px;
  line-height: 26px;
  text-decoration: none;
}

.paragraph.blue {
  width: 90%;
  direction: ltr;
  color: #1c145e;
  text-align: left;
}

.paragraph.blue.lefth {
  width: 100%;
  text-align: left;
}

.paragraph.right {
  text-align: right;
}

.paragraph.center.blue {
  width: 100%;
  text-align: center;
}

.paragraph.aguamarina {
  color: #48b297;
}

.brand-2 {
  width: 231px;
}

.navbar-3 {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  display: block;
  height: 90px;
  margin-top: 0%;
  padding-top: 2%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(57%, #fff), to(hsla(0, 0%, 100%, 0)));
  background-image: linear-gradient(180deg, #fff 57%, hsla(0, 0%, 100%, 0));
}

.body-2 {
  background-color: #ece8ff;
}

.nav-link-3 {
  font-family: Montserrat, sans-serif;
  color: #2e2d87;
  font-weight: 400;
}

.nav-link-3:hover {
  font-family: Montserrat, sans-serif;
  color: #f02961;
  font-weight: 700;
}

.nav-link-4 {
  font-family: Montserrat, sans-serif;
  color: #2e2d87;
}

.nav-link-4:hover {
  font-family: Montserrat, sans-serif;
  color: #f02961;
  font-weight: 700;
}

.nav-menu-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.button-2 {
  border-radius: 7px;
  background-color: #1c145e;
  font-family: Montserrat, sans-serif;
}

.button-2:hover {
  background-color: #71e2c5;
}

.section-8 {
  height: auto;
  padding-top: 10%;
}

.div-block-23 {
  height: 620px;
  background-image: url('../images/montanas_fondo_morado.png');
  background-position: 50% 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.div-block-24 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url('../images/Pajaros-83.svg');
  background-position: 0% 0%;
  background-size: auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.bigtitles {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Montserrat, sans-serif;
  color: #3d51d7;
  font-size: 45px;
  line-height: 50px;
  text-align: center;
}

.bigtitles.red {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Montserrat, sans-serif;
  color: #df515f;
  font-size: 45px;
  line-height: 50px;
}

.bigtitles.left {
  font-family: Montserrat, sans-serif;
  color: #bfebf3;
  font-size: 45px;
  text-align: left;
}

.bigtitles.left.red {
  font-family: Montserrat, sans-serif;
  color: #ec3e4f;
  font-size: 45px;
}

.bigtitles.right {
  font-family: Montserrat, sans-serif;
  font-size: 45px;
  text-align: right;
}

.bigtitles.moradoclaro {
  color: #ece8ff;
}

.right-arrow-2 {
  display: none;
}

.left-arrow-2 {
  display: none;
}

.slide-nav-2 {
  display: none;
}

.slider-3 {
  height: 50px;
  background-color: transparent;
}

.slide-7 {
  height: auto;
}

.subtitles {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Montserrat, sans-serif;
  color: #2e2d87;
  font-size: 20px;
  line-height: 36px;
  font-weight: 600;
  text-transform: uppercase;
}

.subtitles.pink {
  color: #f28b84;
}

.subtitles.right {
  text-align: right;
}

.subtitles.right.light {
  color: #bfebf3;
}

.subtitles.center {
  text-align: center;
}

.section-9 {
  position: relative;
  top: -4px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 520px;
  padding-right: 0%;
  padding-left: 10%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  border-bottom-left-radius: 180px;
  background-color: #4844a0;
}

.div-block-25 {
  width: 50%;
}

.div-block-26 {
  width: 50%;
  height: 100%;
  background-image: url('../images/elementos_caja.png');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.section-10 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  padding-top: 5%;
  padding-right: 0%;
  padding-left: 0%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #d4fcf5;
}

.div-block-27 {
  width: 50%;
  height: 100%;
}

.div-block-28 {
  display: block;
  width: 50%;
  height: auto;
  margin-left: 2%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: none;
  border-width: 1px;
  border-color: #2e2d87;
  border-radius: 20px;
  background-color: transparent;
}

.div-block-29 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 0%;
  margin-bottom: 0px;
  margin-left: 10%;
  padding-bottom: 0px;
}

.div-block-30 {
  position: relative;
  top: -69px;
  width: 100%;
  height: 741px;
  background-image: url('../images/montanas_cultivo.png');
  background-position: 0% 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.section-11 {
  position: relative;
  top: -134px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 700px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom-right-radius: 180px;
  background-color: #00a1a1;
}

.div-block-31 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 10%;
  margin-left: 10%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-32 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-33 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.div-block-34 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 5%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.tabs {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.tab-link-tab-1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 20%;
  height: 80px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-right: 1px solid #fff;
  background-color: #ddf3ef;
  font-family: Montserrat, sans-serif;
  text-align: center;
}

.tab-link-tab-1.w--current {
  width: 20%;
  height: 80px;
  background-color: #71e2c5;
  font-family: Montserrat, sans-serif;
  text-align: center;
}

.tab-link-tab-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 20%;
  height: 80px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-right: 1px solid #fff;
  background-color: #ddf3ef;
  font-family: Montserrat, sans-serif;
  text-align: center;
}

.tab-link-tab-2.w--current {
  background-color: #71e2c5;
}

.tab-link-tab-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 20%;
  height: 80px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-right: 1px solid #fff;
  background-color: #ddf3ef;
  font-family: Montserrat, sans-serif;
  text-align: center;
}

.tab-link-tab-3.w--current {
  background-color: #71e2c5;
}

.tab-link-tab-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 20%;
  height: 80px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-right: 1px solid #fff;
  background-color: #ddf3ef;
  font-family: Montserrat, sans-serif;
  text-align: center;
}

.tab-link-tab-4.w--current {
  background-color: #71e2c5;
}

.tab-link-tab-5 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 20%;
  height: 80px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #ddf3ef;
  font-family: Montserrat, sans-serif;
  text-align: center;
}

.tab-link-tab-5.w--current {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #71e2c5;
  font-weight: 700;
}

.text-block {
  font-weight: 400;
}

.tabs-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.tab-pane-lineamientos {
  width: auto;
}

.div-block-38 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 450px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.div-block-39 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  padding-top: 30px;
  padding-bottom: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  text-align: right;
}

.div-block-40 {
  width: 70%;
}

.tabs-content {
  width: 80%;
}

.herramientatitulo {
  font-family: Colortube, sans-serif;
  color: #71e2c5;
  font-size: 22px;
  text-align: right;
}

.herramientatitulo.center {
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 34px;
  font-weight: 800;
}

.section-13 {
  position: relative;
  top: -3px;
  height: 1485px;
}

.div-block-41 {
  width: 90%;
  height: 1200px;
  border-top-right-radius: 200px;
  border-bottom-right-radius: 200px;
  background-color: #4844a0;
}

.div-block-42 {
  width: 85%;
  padding-top: 5%;
  padding-left: 10%;
}

.paragraph-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Montserrat, sans-serif;
  color: #71e2c5;
}

.paragraph-2.right {
  width: 60%;
  text-align: right;
}

.paragraph-2.right.lefth {
  width: 70%;
}

.paragraph-2.right.left {
  width: 70%;
}

.div-block-44 {
  position: relative;
  top: -235px;
  width: 100%;
  height: 524px;
}

.div-block-45 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 5%;
  padding-left: 10%;
}

.textobloque {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.textobloque.right {
  width: 40%;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.imagenbloque {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.imagenbloque.right {
  width: 40%;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.section-15 {
  height: auto;
}

.div-block-46 {
  padding: 5% 10%;
}

.div-block-47 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 10%;
  padding-left: 10%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.foto {
  height: 300px;
  border-radius: 20px;
}

.foto:hover {
  height: 300px;
  border-radius: 20px;
  background-image: url('../images/NiñosyNiñas-copia.png');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-filter: grayscale(89%);
  filter: grayscale(89%);
}

.foto.joven {
  background-image: url('../images/jovenes_Azul.png'), -webkit-gradient(linear, left top, left bottom, from(#71e2c5), to(#71e2c5));
  background-image: url('../images/jovenes_Azul.png'), linear-gradient(180deg, #71e2c5, #71e2c5);
  background-position: 50% 50%, 0px 0px;
  background-size: contain, auto;
  background-repeat: no-repeat, repeat;
}

.foto.joven:hover {
  background-image: url('../images/jovenes.png');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-filter: none;
  filter: none;
}

.foto.adultomayor {
  background-image: url('../images/adulto_mayor_azul.png'), -webkit-gradient(linear, left top, left bottom, from(#71e2c5), to(#71e2c5));
  background-image: url('../images/adulto_mayor_azul.png'), linear-gradient(180deg, #71e2c5, #71e2c5);
  background-position: 50% 50%, 0px 0px;
  background-size: contain, auto;
  background-repeat: no-repeat, repeat;
}

.foto.adultomayor:hover {
  background-image: url('../images/adulto_mayor.png');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-filter: none;
  filter: none;
}

.foto.mujeres {
  background-image: url('../images/Mujeres_Azul.png'), -webkit-gradient(linear, left top, left bottom, from(#71e2c5), to(#71e2c5));
  background-image: url('../images/Mujeres_Azul.png'), linear-gradient(180deg, #71e2c5, #71e2c5);
  background-position: 50% 50%, 0px 0px;
  background-size: contain, auto;
  background-repeat: no-repeat, repeat;
}

.foto.mujeres:hover {
  background-image: url('../images/Mujeres_Color.png');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-filter: none;
  filter: none;
}

.foto.lgbt {
  background-image: url('../images/LGTBi_Azul.png'), -webkit-gradient(linear, left top, left bottom, from(#71e2c5), to(#71e2c5));
  background-image: url('../images/LGTBi_Azul.png'), linear-gradient(180deg, #71e2c5, #71e2c5);
  background-position: 50% 50%, 0px 0px;
  background-size: contain, auto;
  background-repeat: no-repeat, repeat;
}

.foto.lgbt:hover {
  background-image: url('../images/LGTBi_Color.png');
  background-position: 50% 50%;
  background-size: contain;
  -webkit-filter: none;
  filter: none;
}

.foto.etnico {
  background-image: url('../images/etnico_azul.png'), -webkit-gradient(linear, left top, left bottom, from(#71e2c5), to(#71e2c5));
  background-image: url('../images/etnico_azul.png'), linear-gradient(180deg, #71e2c5, #71e2c5);
  background-position: 50% 50%, 0px 0px;
  background-size: contain, auto;
  background-repeat: no-repeat, repeat;
}

.foto.etnico:hover {
  background-image: url('../images/etnico_Color.png');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-filter: none;
  filter: none;
}

.foto.multisectorial {
  background-image: url('../images/Interseccional_Azul.png'), -webkit-gradient(linear, left top, left bottom, from(#71e2c5), to(#71e2c5));
  background-image: url('../images/Interseccional_Azul.png'), linear-gradient(180deg, #71e2c5, #71e2c5);
  background-position: 50% 50%, 0px 0px;
  background-size: contain, auto;
  background-repeat: no-repeat, repeat;
}

.foto.multisectorial:hover {
  background-image: url('../images/Interseccional.png');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-filter: none;
  filter: none;
}

.foto.discapacidad {
  background-image: url('../images/Discapacidad_azul.png'), -webkit-gradient(linear, left top, left bottom, from(#71e2c5), to(#71e2c5));
  background-image: url('../images/Discapacidad_azul.png'), linear-gradient(180deg, #71e2c5, #71e2c5);
  background-position: 50% 50%, 0px 0px;
  background-size: contain, auto;
  background-repeat: no-repeat, repeat;
}

.foto.discapacidad:hover {
  background-image: url('../images/Discapacidad_Color.png');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-filter: none;
  filter: none;
}

.div-block-50 {
  width: 30%;
  height: 400px;
  margin: 1%;
}

.enfoquetexto {
  font-family: Montserrat, sans-serif;
  color: #2e2d87;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
}

.div-block-53 {
  width: 100%;
  height: 100%;
  background-image: url('../images/EquipoTrabajo.png');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

.paragraph-3 {
  font-family: Montserrat, sans-serif;
  font-size: 10px;
  line-height: 15px;
}

.div-block-55 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 80%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-56 {
  height: 10%;
}

.section-16 {
  height: auto;
  padding-bottom: 30%;
}

.div-block-57 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-58 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  margin-top: 30px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.search-button {
  display: none;
  border-radius: 9px;
  background-color: #1c145e;
}

.search-input {
  height: 60px;
  border-style: solid;
  border-width: 1px;
  border-color: #9a9ca3;
  border-radius: 6px;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
}

.search {
  width: 50%;
  margin-top: 0px;
  text-align: center;
}

.paragraph-4 {
  margin-top: 10px;
}

.paragraph-4.center {
  text-align: center;
}

.body-3 {
  background-color: #ece8ff;
}

.search-result-item {
  display: none;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  justify-items: baseline;
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  -webkit-align-content: space-around;
  -ms-flex-line-pack: distribute;
  align-content: space-around;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.div-block-61 {
  height: 50%;
  padding: 10px;
}

.tituloherramienta {
  overflow: scroll;
  height: 60%;
  margin-top: 5px;
  font-family: Montserrat, sans-serif;
  color: #3d51d7;
  font-size: 16px;
  line-height: 22px;
}

.tipoherramienta {
  height: 20%;
  margin-bottom: 5px;
  font-family: Montserrat, sans-serif;
  color: #f02961;
  font-size: 10px;
  font-weight: 700;
}

.vinculo {
  height: 20%;
  font-family: Montserrat, sans-serif;
  color: #f02961;
  font-size: 12px;
}

.vinculo:hover {
  color: #71e2c5;
  font-weight: 700;
}

.container-7 {
  height: auto;
  margin-bottom: 5%;
}

.text-block-6 {
  font-family: Montserrat, sans-serif;
  color: #f02961;
}

.div-block-62 {
  display: -ms-grid;
  display: grid;
  margin-top: 5%;
  margin-bottom: -1px;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 47px;
  grid-template-areas: "Area";
  -ms-grid-columns: 1fr 16px 1fr 16px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto 47px auto;
  grid-template-rows: auto auto;
}

.section-18 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  margin-top: 0%;
  margin-bottom: 10%;
  padding-top: 10%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.body-4 {
  background-color: #ece8ff;
}

.div-block-63 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.div-block-65 {
  width: 70%;
}

.nombrerecurso {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0px;
  margin-bottom: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Montserrat, sans-serif;
  color: #3d51d7;
  font-size: 14px;
  line-height: 25px;
  font-weight: 700;
  text-align: left;
}

.text-block-7 {
  height: 20%;
  padding-bottom: 14px;
  font-family: Montserrat, sans-serif;
  color: #71e2c5;
  font-style: italic;
  font-weight: 600;
}

.paragraph-5 {
  height: 80%;
  font-family: Montserrat, sans-serif;
  color: #3d51d7;
  line-height: 23px;
}

.descripci-n {
  margin-top: 10px;
  font-family: Montserrat, sans-serif;
  color: #f02961;
  font-size: 14px;
  line-height: 30px;
  font-weight: 600;
}

.descripcionrecurso {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Montserrat, sans-serif;
  color: #3d51d7;
  font-size: 12px;
  line-height: 22px;
  font-weight: 400;
  text-align: left;
}

.div-block-66 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.div-block-67 {
  width: 100%;
}

.div-block-68 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-70 {
  margin-top: 5%;
  background-color: transparent;
}

.descargar_boton {
  border-radius: 0px;
  background-color: transparent;
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 17px;
  font-weight: 400;
  text-decoration: none;
}

.link_descarga {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 161px;
  height: 46px;
  margin: 5px;
  padding-bottom: 7px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 11px;
  background-color: #1c145e;
  font-family: Montserrat, sans-serif;
}

.link_descarga:hover {
  background-color: #71e2c5;
}

.icono_descargar {
  margin-right: 7px;
  padding-right: 8px;
}

.div-block-71 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 37%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.link-2 {
  font-family: Montserrat, sans-serif;
  color: #2e2d87;
}

.link-2:hover {
  color: #f02961;
}

.recursos_lineamientos {
  display: block;
  height: 400px;
  padding: 10px;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  border-radius: 7px;
}

.recursos_lineamientos:hover {
  box-shadow: 6px 6px 12px 0 rgba(130, 118, 192, 0.55);
}

.recursos_pedagogicos {
  display: block;
  height: 400px;
  padding: 10px;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  border-radius: 7px;
}

.recursos_pedagogicos:hover {
  box-shadow: 6px 6px 12px 0 rgba(130, 118, 192, 0.55);
}

.recursos_metodologias {
  display: block;
  height: 400px;
  padding: 10px;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  border-radius: 7px;
}

.recursos_metodologias:hover {
  box-shadow: 6px 6px 12px 0 rgba(130, 118, 192, 0.55);
}

.recursos_recopilacion_experiencias {
  display: block;
  height: 400px;
  padding: 10px;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  border-radius: 7px;
}

.recursos_recopilacion_experiencias:hover {
  box-shadow: 6px 6px 12px 0 rgba(130, 118, 192, 0.55);
}

.recursos_diagnosticos {
  display: block;
  height: 400px;
  padding: 10px;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  border-radius: 7px;
}

.recursos_diagnosticos:hover {
  box-shadow: 6px 6px 12px 0 rgba(130, 118, 192, 0.55);
}

.nino_nina_enfoque {
  height: 300px;
  border-radius: 20px;
  background-image: url('../images/Ninos-ninas-azul.png'), -webkit-gradient(linear, left top, left bottom, from(#71e2c5), to(#71e2c5));
  background-image: url('../images/Ninos-ninas-azul.png'), linear-gradient(180deg, #71e2c5, #71e2c5);
  background-position: 50% 50%, 0px 0px;
  background-size: contain, auto;
  background-repeat: no-repeat, repeat;
}

.nino_nina_enfoque:hover {
  height: 300px;
  border-radius: 20px;
  background-image: url('../images/Ninos-ninas.png');
  background-position: 50% 50%;
  background-size: contain;
}

.div-block-72 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 190px;
  margin-bottom: 0px;
  padding-bottom: 20px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.details_block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 20%;
  height: 100%;
  margin-right: 5px;
  margin-left: 5px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  border-right: 1px solid #d5cdff;
}

.div_politica_publica {
  height: 50%;
  background-image: url('../images/lineamientos_politicas_publicas.png');
  background-position: 50% 100%;
  background-size: contain;
  background-repeat: no-repeat;
}

.div_politica_publica.tap {
  width: 50%;
  height: 100%;
}

.div_recopilacion_experiencias {
  height: 50%;
  background-image: url('../images/recopilacion_experiencias.png');
  background-position: 50% 100%;
  background-size: contain;
  background-repeat: no-repeat;
}

.div_recopilacion_experiencias.tab {
  width: 50%;
  height: 100%;
}

.div_pedagogicas {
  height: 50%;
  background-image: url('../images/recursos-pedagogicos.png');
  background-position: 50% 100%;
  background-size: contain;
  background-repeat: no-repeat;
}

.div_pedagogicas.tab {
  width: 50%;
  height: 100%;
}

.div_diagnosticas {
  height: 50%;
  background-image: url('../images/recursos-diagnosticos.png');
  background-position: 50% 100%;
  background-size: contain;
  background-repeat: no-repeat;
}

.div_diagnosticas.tab {
  width: 50%;
  height: 100%;
}

.div_metodologicas {
  width: 100%;
  height: 50%;
  background-image: url('../images/recursos-metodologicos.png');
  background-position: 50% 100%;
  background-size: contain;
  background-repeat: no-repeat;
}

.div_metodologicas.tab {
  width: 50%;
  height: 100%;
}

.div_cover_resultado {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 40%;
  padding: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  border-radius: 7px;
  background-color: transparent;
}

.nombre_recurso {
  margin-top: 10px;
  margin-bottom: 0px;
  font-family: Colortube, sans-serif;
  color: #3d51d7;
  font-size: 21px;
  line-height: 41px;
  text-align: center;
}

.link_eliminar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 161px;
  height: 46px;
  margin: 5px;
  padding-bottom: 7px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 11px;
  background-color: #1c145e;
  font-family: Montserrat, sans-serif;
}

.link_eliminar:hover {
  background-color: #71e2c5;
}

.icono_eliminar {
  margin-right: 7px;
  padding-right: 8px;
}

.disclamer {
  font-family: Montserrat, sans-serif;
  font-size: 10px;
  line-height: 17px;
  font-weight: 400;
}

.boton_recurso {
  border-radius: 7px;
  background-color: #1c145e;
  font-family: Montserrat, sans-serif;
}

.boton_recurso:hover {
  background-color: #71e2c5;
}

.dropdown {
  display: inline-block;
  width: 25%;
  height: 60px;
  margin-top: 0px;
  margin-right: auto;
  margin-left: auto;
  border-style: solid;
  border-width: 1px;
  border-color: #9a9ca3;
  border-radius: 5px;
  background-color: #fff;
}

.dropdown-toggle {
  width: 100%;
  padding-left: 30px;
  border-style: none;
  border-width: 1px;
  border-color: #2e2d87;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}

.dropdown-toggle:hover {
  background-color: #fdfdfd;
}

.icon-2 {
  color: #7da6cc;
}

.dropdown-herramientas {
  display: block;
  overflow: hidden;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 10px 40px 0 rgba(152, 162, 172, 0.21);
}

.div-block {
  padding-top: 15px;
  padding-bottom: 15px;
}

.dropdown-link {
  padding-left: 30px;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  font-family: Montserrat, sans-serif;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
}

.dropdown-link:hover {
  background-color: #f5f6f8;
  box-shadow: inset 2px 0 0 0 #88c1ff;
}

.text-block-8 {
  font-family: Montserrat, sans-serif;
  color: #aaa0a0;
}

.dropdown-enfoques {
  display: inline-block;
  width: 266px;
  height: 63px;
  margin-top: 0px;
  margin-right: auto;
  margin-left: auto;
  border-style: solid;
  border-width: 1px;
  border-color: #9a9ca3;
  border-radius: 5px;
  background-color: #fff;
}

.dropdown-herramientas-copy {
  display: block;
  overflow: hidden;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 10px 40px 0 rgba(152, 162, 172, 0.21);
}

.dropdowenfoque {
  display: block;
  overflow: hidden;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 10px 40px 0 rgba(152, 162, 172, 0.21);
}

@media (max-width: 991px) {
  .navbar {
    margin-bottom: 0px;
  }
  .navbar-2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 10vh;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .nav-link.bt-normal {
    width: auto;
  }
  .nav-menu {
    background-color: #d5cdff;
  }
  .heading {
    margin-top: 12px;
    margin-bottom: 0px;
  }
  .description {
    margin-top: 20px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    font-size: 18px;
  }
  .container-5 {
    margin-right: 81px;
    margin-left: 81px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .menu-button.w--open {
    background-color: #ece8ff;
  }
  .paragraph {
    padding-right: 6px;
  }
  .paragraph.blue {
    width: 100%;
  }
  .paragraph.center {
    text-align: center;
  }
  .paragraph.aguamarina.right.center {
    text-align: right;
  }
  .navbar-3 {
    margin-right: 0%;
    margin-left: 0%;
    padding-right: 5%;
    padding-left: 5%;
  }
  .body-2 {
    display: block;
  }
  .nav-menu-2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    background-color: #71e2c5;
  }
  .button-2 {
    width: 90%;
    padding-right: 20px;
    padding-left: 20px;
    text-align: left;
  }
  .icon {
    color: #f02961;
  }
  .menu-button-2 {
    background-color: transparent;
  }
  .section-8 {
    padding-top: 12%;
  }
  .div-block-23 {
    height: 400px;
    background-size: contain;
  }
  .bigtitles {
    font-family: Montserrat, sans-serif;
    font-size: 45px;
    line-height: 40px;
  }
  .bigtitles.red {
    width: auto;
  }
  .slider-3 {
    width: 100%;
  }
  .subtitles.center {
    text-align: center;
  }
  .section-9 {
    height: 640px;
  }
  .div-block-26 {
    background-size: contain;
  }
  .div-block-30 {
    top: -111px;
    background-size: cover;
  }
  .section-11 {
    height: 936px;
  }
  .div-block-32 {
    padding-right: 5%;
  }
  .section-12 {
    position: relative;
    top: -64px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 800px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .div-block-34 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .div-block-35 {
    width: 20%;
  }
  .div-block-36 {
    width: 20%;
  }
  .tabs {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 90%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .div-block-37 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .tab-link-tab-1 {
    padding-right: 5px;
    padding-left: 5px;
    border-style: none solid solid none;
    border-width: 1px;
    border-color: #fff;
    background-color: #d4ece8;
    font-family: Montserrat, sans-serif;
  }
  .tab-link-tab-1.w--current {
    width: 20%;
    height: 80px;
    padding-right: 10px;
    padding-left: 10px;
    border-style: none solid none none;
    border-right-width: 1px;
    border-right-color: #fff;
    background-color: #71e2c5;
    font-family: Montserrat, sans-serif;
    text-align: center;
  }
  .tab-link-tab-2 {
    width: 20%;
    height: 80px;
    padding-right: 5px;
    padding-left: 5px;
    border-right: 1px solid #fff;
    background-color: #d4ece8;
    font-family: Montserrat, sans-serif;
    text-align: center;
  }
  .tab-link-tab-3 {
    width: 20%;
    height: 80px;
    padding-right: 5px;
    padding-left: 5px;
    border-right: 1px solid #fff;
    background-color: #d4ece8;
    font-family: Montserrat, sans-serif;
    text-align: center;
  }
  .tab-link-tab-4 {
    width: 20%;
    height: 80px;
    padding-right: 5px;
    padding-left: 5px;
    border-right: 1px solid #fff;
    background-color: #d4ece8;
    font-family: Montserrat, sans-serif;
    text-align: center;
  }
  .tab-link-tab-5 {
    width: 20%;
    height: 80px;
    padding-right: 10px;
    padding-left: 10px;
    background-color: #d4ece8;
    font-family: Montserrat, sans-serif;
    text-align: center;
  }
  .tab-link-tab-5.w--current {
    padding-right: 5px;
    padding-left: 5px;
  }
  .text-block {
    font-size: 14px;
  }
  .tabs-menu {
    width: 100%;
    border-right: 2px none #fff;
  }
  .tab-pane-lineamientos {
    width: auto;
    height: 495px;
  }
  .div-block-38 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 495px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
  }
  .div-block-39 {
    width: 60%;
    height: 100%;
  }
  .tabs-content {
    width: 100%;
  }
  .section-13 {
    height: 1322px;
  }
  .div-block-41 {
    height: 1267px;
  }
  .paragraph-2 {
    width: 90%;
  }
  .paragraph-2.right.lefth {
    width: 90%;
  }
  .paragraph-2.right.left {
    width: 90%;
  }
  .div-block-44 {
    height: 358px;
  }
  .enfoquetexto {
    font-size: 12px;
    line-height: 18px;
  }
  .div-block-53 {
    background-position: 565% 50%;
    background-size: 90%;
    background-attachment: fixed;
  }
  .paragraph-3 {
    margin-top: 20px;
  }
  .div-block-58 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .search {
    width: 70%;
  }
  .div-block-62 {
    clear: none;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    justify-items: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
  }
  .section-18 {
    height: auto;
    padding-top: 15%;
  }
  .div-block-65 {
    width: 100%;
  }
  .nombrerecurso {
    font-size: 16px;
    line-height: 30px;
  }
  .descripcionrecurso {
    font-size: 16px;
    line-height: 30px;
  }
  .div-block-66 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .div-block-71 {
    width: 54%;
  }
  .div-block-72 {
    height: 220px;
  }
  .div_metodologicas {
    height: 300px;
  }
  .div_cover_resultado {
    width: 100%;
    padding-left: 0px;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .nombre_recurso {
    font-size: 25px;
    line-height: 40px;
    text-align: left;
  }
  .boton_recurso {
    width: 90%;
    padding-right: 20px;
    padding-left: 20px;
    text-align: left;
  }
  .dropdown {
    width: 70%;
  }
}

@media (max-width: 767px) {
  .navbar {
    height: auto;
    margin-bottom: 0px;
  }
  .body {
    background-position: 50% -59%;
  }
  .heading {
    margin-top: -36px;
    margin-bottom: -30px;
  }
  .heading.centered {
    padding-right: 38px;
    padding-left: 38px;
  }
  .description {
    font-size: 14px;
    line-height: 23px;
  }
  .left {
    padding-right: 52px;
    padding-left: 52px;
  }
  .section {
    padding-bottom: 119px;
  }
  .download {
    display: block;
    text-align: center;
  }
  .dicon {
    padding-bottom: 20px;
  }
  .container-4 {
    display: block;
  }
  .div-block-3 {
    display: block;
    padding-right: 64px;
    padding-left: 64px;
  }
  .credits {
    padding-right: 59px;
    padding-left: 59px;
  }
  .container-5 {
    height: auto;
  }
  .paragraph {
    font-size: 12px;
    line-height: 23px;
  }
  .paragraph.blue {
    text-align: left;
  }
  .paragraph.aguamarina.right {
    text-align: center;
  }
  .paragraph.aguamarina.right.center {
    text-align: center;
  }
  .nav-menu-2 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .button-2 {
    width: 90%;
  }
  .menu-button-2 {
    background-color: transparent;
  }
  .section-8 {
    padding-top: 20%;
  }
  .div-block-23 {
    background-size: contain;
  }
  .bigtitles.red {
    width: auto;
  }
  .bigtitles.left {
    padding-left: 0px;
    text-align: left;
  }
  .bigtitles.left.red {
    text-align: left;
  }
  .slider-3 {
    width: 100%;
    text-align: center;
  }
  .subtitles {
    font-size: 16px;
    text-align: left;
  }
  .subtitles.pink {
    text-align: left;
  }
  .subtitles.center {
    line-height: 22px;
    text-align: center;
  }
  .mask-2 {
    width: auto;
  }
  .section-9 {
    height: 665px;
  }
  .section-10 {
    height: 1014px;
    padding-top: 10%;
  }
  .div-block-27 {
    width: 100%;
    padding-right: 5%;
  }
  .div-block-28 {
    display: none;
  }
  .div-block-30 {
    top: -73px;
    height: 356px;
    background-position: 50% 100%;
    background-size: cover;
  }
  .section-11 {
    top: -115px;
    height: 609px;
  }
  .div-block-31 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .div-block-32 {
    display: none;
  }
  .div-block-33 {
    width: 100%;
  }
  .section-12 {
    top: 0px;
    height: 905px;
  }
  .div-block-34 {
    padding-bottom: 5%;
  }
  .tabs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .tab-link-tab-1 {
    width: 100%;
    height: 40px;
    border-bottom-style: none;
    text-align: left;
  }
  .tab-link-tab-1.w--current {
    width: 100%;
    height: 40px;
    text-align: left;
  }
  .tab-link-tab-2 {
    width: 100%;
    height: 40px;
    text-align: left;
  }
  .tab-link-tab-2.w--current {
    width: 100%;
  }
  .tab-link-tab-3 {
    width: 100%;
    height: 40px;
    text-align: left;
  }
  .tab-link-tab-3.w--current {
    width: 100%;
    height: 40px;
  }
  .tab-link-tab-4 {
    width: 100%;
    height: 40px;
    text-align: left;
  }
  .tab-link-tab-5 {
    width: 100%;
    height: 40px;
    text-align: left;
  }
  .tab-link-tab-5.w--current {
    font-weight: 400;
    text-align: left;
  }
  .text-block {
    font-size: 12px;
  }
  .tabs-menu {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
  }
  .tab-pane-lineamientos {
    height: auto;
  }
  .div-block-38 {
    height: 340px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .div-block-39 {
    width: 100%;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .herramientatitulo {
    font-size: 20px;
    text-align: center;
  }
  .herramientatitulo.center {
    text-align: center;
  }
  .text-block-2 {
    font-size: 12px;
  }
  .text-block-3 {
    font-size: 12px;
  }
  .text-block-4 {
    font-size: 12px;
  }
  .text-block-5 {
    font-size: 12px;
  }
  .section-13 {
    height: 1106px;
  }
  .div-block-41 {
    height: 1000px;
  }
  .div-block-42 {
    width: 93%;
  }
  .paragraph-2 {
    width: 100%;
    font-size: 12px;
  }
  .paragraph-2.right {
    width: 100%;
  }
  .paragraph-2.right.left {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
  }
  .image-29 {
    position: relative;
    top: 67px;
  }
  .div-block-50 {
    width: 47%;
  }
  .paragraph-3 {
    font-family: Montserrat, sans-serif;
    font-size: 11px;
  }
  .div-block-55 {
    height: 100%;
  }
  .section-16 {
    height: 71vh;
  }
  .div-block-58 {
    width: 80%;
  }
  .search {
    width: 70%;
  }
  .paragraph-4.center {
    text-align: center;
  }
  .div-block-62 {
    margin-right: 2%;
    margin-left: 2%;
    grid-auto-flow: row;
    grid-column-gap: 16px;
    -ms-grid-columns: 2fr 1.75fr;
    grid-template-columns: 2fr 1.75fr;
  }
  .div-block-68 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .div-block-71 {
    width: 74%;
  }
  .link-2 {
    padding-bottom: 17px;
  }
  .div-block-72 {
    display: -ms-grid;
    display: grid;
    height: 311px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }
  .details_block {
    width: 100%;
    height: 100%;
  }
  .div_politica_publica.tap {
    display: none;
  }
  .div_recopilacion_experiencias.tab {
    display: none;
  }
  .div_pedagogicas.tab {
    display: none;
  }
  .div_diagnosticas.tab {
    display: none;
  }
  .div_metodologicas {
    height: 60%;
  }
  .div_metodologicas.tab {
    display: none;
  }
  .div_cover_resultado {
    width: 100%;
    height: 300px;
    padding-left: 0px;
    font-family: Colortube, sans-serif;
  }
  .nombre_recurso {
    text-align: left;
  }
  .boton_recurso {
    width: 90%;
    text-align: center;
  }
  .dropdown {
    width: 70%;
  }
}

@media (max-width: 479px) {
  .navbar-2 {
    padding-right: 0px;
  }
  .nav-link.bt-normal {
    margin-top: 19px;
    margin-right: 88px;
    margin-bottom: 24px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }
  .brand.w--current {
    width: 187px;
  }
  .nav-menu {
    background-color: #d5cdff;
  }
  .heading {
    margin-right: auto;
    margin-left: auto;
  }
  .heading.centered {
    padding-right: 28px;
    padding-left: 28px;
    font-size: 45px;
  }
  .description {
    text-align: center;
  }
  .description.ff {
    text-align: center;
  }
  .left {
    padding-right: 26px;
    padding-left: 26px;
  }
  .section {
    max-width: 90%;
  }
  .footer {
    background-size: 642px;
  }
  .div-block-3 {
    padding-right: 39px;
    padding-left: 39px;
  }
  .credits {
    padding-right: 100px;
    padding-left: 37px;
  }
  .container-5 {
    margin-right: 28px;
    margin-left: 28px;
  }
  .menu-button {
    background-color: transparent;
  }
  .menu-button.w--open {
    background-color: #bfebf3;
  }
  .menu-button.w--open:focus {
    background-color: #d5cdff;
  }
  .paragraph.blue.lefth {
    text-align: left;
  }
  .paragraph.center.blue {
    padding-right: 0px;
  }
  .paragraph.aguamarina.right {
    text-align: center;
  }
  .paragraph.aguamarina.right.center {
    text-align: center;
  }
  .brand-2 {
    width: 200px;
  }
  .section-8 {
    padding-top: 25%;
  }
  .div-block-23 {
    height: 200px;
  }
  .bigtitles {
    font-size: 30px;
    line-height: 30px;
  }
  .bigtitles.red {
    font-size: 30px;
  }
  .bigtitles.red.left {
    font-size: 30px;
  }
  .bigtitles.left {
    font-size: 30px;
  }
  .bigtitles.left.red {
    font-size: 30px;
    line-height: 33px;
  }
  .bigtitles.right {
    font-size: 30px;
  }
  .bigtitles.moradoclaro.left {
    font-size: 30px;
  }
  .subtitles {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 25px;
  }
  .subtitles.pink {
    margin-bottom: 10px;
    font-size: 14px;
  }
  .subtitles.center {
    font-size: 14px;
  }
  .section-9 {
    height: 600px;
    padding-right: 5%;
    padding-left: 5%;
    border-bottom-left-radius: 123px;
  }
  .div-block-25 {
    width: 100%;
  }
  .div-block-26 {
    display: none;
  }
  .section-10 {
    height: auto;
  }
  .div-block-29 {
    margin-left: 5%;
  }
  .div-block-30 {
    top: -104px;
  }
  .section-11 {
    height: 690px;
    border-bottom-right-radius: 123px;
  }
  .div-block-31 {
    margin-right: 5%;
    margin-left: 5%;
  }
  .section-12 {
    height: 1132px;
  }
  .div-block-35 {
    display: none;
  }
  .div-block-36 {
    display: none;
  }
  .tabs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .tab-link-tab-1 {
    width: 100%;
    border-style: none solid none none;
  }
  .tab-link-tab-1.w--current {
    width: 100%;
  }
  .tab-link-tab-2 {
    width: 100%;
  }
  .tab-link-tab-3 {
    width: 100%;
  }
  .tab-link-tab-4 {
    width: 100%;
  }
  .tab-link-tab-5 {
    width: 100%;
  }
  .tabs-menu {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .tab-pane-lineamientos {
    height: 530px;
  }
  .div-block-38 {
    height: 530px;
  }
  .div-block-40 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 80%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .herramientatitulo {
    font-size: 18px;
    line-height: 36px;
    text-align: center;
  }
  .herramientatitulo.center {
    font-size: 30px;
    text-align: center;
  }
  .section-13 {
    height: 897px;
  }
  .div-block-41 {
    width: 100%;
    height: 762px;
    padding-top: 10%;
    border-top-right-radius: 140px;
    border-bottom-right-radius: 140px;
  }
  .div-block-42 {
    width: 96%;
    padding-left: 5%;
  }
  .paragraph-2 {
    font-size: 12px;
  }
  .paragraph-2.right.lefth {
    width: 100%;
    text-align: left;
  }
  .paragraph-2.right.left {
    padding-right: 0px;
    padding-left: 0px;
    text-align: left;
  }
  .div-block-44 {
    top: -84px;
    height: 147px;
  }
  .div-block-45 {
    padding-left: 5%;
  }
  .textobloque {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .textobloque.right {
    width: 100%;
  }
  .imagenbloque {
    display: none;
  }
  .image-29 {
    top: 5px;
  }
  .div-block-46 {
    padding-right: 5%;
    padding-left: 5%;
  }
  .foto {
    height: 200px;
  }
  .foto:hover {
    height: 200px;
  }
  .foto.etnico:hover {
    height: 200px;
  }
  .foto.multisectorial:hover {
    height: 200px;
  }
  .div-block-50 {
    width: 96%;
    height: 300px;
  }
  .div-block-50:hover {
    height: 300px;
  }
  .div-block-58 {
    width: 90%;
  }
  .search {
    width: 90%;
  }
  .div-block-62 {
    -ms-grid-columns: 2fr;
    grid-template-columns: 2fr;
  }
  .section-18 {
    padding-top: 32%;
  }
  .nombrerecurso {
    font-size: 14px;
    line-height: 22px;
  }
  .descripcionrecurso {
    font-size: 14px;
    line-height: 22px;
  }
  .div-block-68 {
    margin-bottom: 17px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .link_descarga {
    margin: 5px;
  }
  .div-block-71 {
    width: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .link-2 {
    padding-bottom: 23px;
  }
  .nino_nina_enfoque {
    height: 200px;
    background-image: url('../images/Ninos-ninas-azul.png'), -webkit-gradient(linear, left top, left bottom, from(#71e2c5), to(#71e2c5));
    background-image: url('../images/Ninos-ninas-azul.png'), linear-gradient(180deg, #71e2c5, #71e2c5);
    background-position: 50% 50%, 0px 0px;
    background-size: contain, auto;
    background-repeat: no-repeat, repeat;
  }
  .nino_nina_enfoque:hover {
    height: 200px;
  }
  .div-block-72 {
    height: 418px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
  .div_pedagogicas.tab {
    display: none;
  }
  .nombre_recurso {
    font-size: 20px;
    line-height: 30px;
  }
  .link_eliminar {
    margin: 5px;
  }
  .dropdown {
    width: 90%;
  }
  .dropdown-link {
    padding-right: 10px;
    padding-left: 10px;
  }
}

#w-node-ca8dcf39e7a5-a3137c58 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

@font-face {
  font-family: 'Kastelov axiforma book';
  src: url('../fonts/Kastelov--Axiforma-Book.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Kastelov axiforma book';
  src: url('../fonts/Kastelov--Axiforma-Book-Italic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Kastelov axiforma';
  src: url('../fonts/Kastelov--Axiforma-Black.otf') format('opentype'), url('../fonts/Kastelov--Axiforma-Heavy.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Kastelov axiforma';
  src: url('../fonts/Kastelov--Axiforma-Black-Italic.otf') format('opentype'), url('../fonts/Kastelov--Axiforma-Heavy-Italic.otf') format('opentype');
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: 'Kastelov axiforma';
  src: url('../fonts/Kastelov--Axiforma-Bold-Italic.otf') format('opentype'), url('../fonts/Kastelov--Axiforma-ExtraBold-Italic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'Kastelov axiforma';
  src: url('../fonts/Kastelov--Axiforma-Bold.otf') format('opentype'), url('../fonts/Kastelov--Axiforma-ExtraBold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Kastelov axiforma';
  src: url('../fonts/Kastelov--Axiforma-Light-Italic.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Kastelov axiforma';
  src: url('../fonts/Kastelov--Axiforma-Italic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Kastelov axiforma';
  src: url('../fonts/Kastelov--Axiforma-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Kastelov axiforma';
  src: url('../fonts/Kastelov--Axiforma-Medium-Italic.otf') format('opentype');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'Kastelov axiforma';
  src: url('../fonts/Kastelov--Axiforma-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Kastelov axiforma';
  src: url('../fonts/Kastelov--Axiforma-SemiBold-Italic.otf') format('opentype');
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: 'Kastelov axiforma';
  src: url('../fonts/Kastelov--Axiforma-SemiBold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Kastelov axiforma';
  src: url('../fonts/Kastelov--Axiforma-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Kastelov axiforma';
  src: url('../fonts/Kastelov--Axiforma-Thin-Italic.otf') format('opentype');
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: 'Kastelov axiforma';
  src: url('../fonts/Kastelov--Axiforma-Thin.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Colortube';
  src: url('../fonts/ColorTube-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}